<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IaddShowService" />
        <binding name="BasicHttpBinding_Iassignment3" />
        <binding name="BasicHttpBinding_IvenueOwnerService" />
        <binding name="BasicHttpBinding_Iassignment31" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:60123/addShowService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IaddShowService"
        contract="showManagerReference.IaddShowService" name="BasicHttpBinding_IaddShowService" />
      <endpoint address="http://localhost:55957/assignment3.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_Iassignment3" contract="assignment3Ref.Iassignment3"
        name="BasicHttpBinding_Iassignment3" />
      <endpoint address="http://localhost:50098/venueOwnerService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IvenueOwnerService"
        contract="venueLoginReference.IvenueOwnerService" name="BasicHttpBinding_IvenueOwnerService" />
      <endpoint address="http://localhost:55957/assignment3.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_Iassignment31" contract="basicServicesReference.Iassignment3"
        name="BasicHttpBinding_Iassignment31" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="ShowDetailEntities" connectionString="metadata=res://*/App_Code.showDetailModel.csdl|res://*/App_Code.showDetailModel.ssdl|res://*/App_Code.showDetailModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ShowTracker;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>